<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href=""> </a>
    </small>
    <nav>
      <ul>
        111<!-- <li>< link_to "About", root ></li> -->
      </ul>
      <ul>
        222
      </ul>
    </nav>
  </footer>
</div>
